p {
	text-align:	justify;
	text-indent: 30px;
}
.homenav{
	padding-left: 30px;
}
.citation{
	color: grey;
	border: 1px dashed grey;
	padding: 5px;
}
.italic{
	font-style: italic;
}
.top{
	margin-top: 50px;
}
